@import "tailwindcss";
@font-face {
  font-family: 'Rascal';
  src: url('/src/assets/font/rascal.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1 , nav , button  {
    font-family: 'Rascal';
}
/* nav {
    font-family: 'Rascal';
} */

p ,h2 ,:placeholder-shown ,::placeholder ,::-webkit-input-placeholder {
    font-family: monospace;
}